@import '../../assets/style/shared.scss';
@import '../../assets/theme/shared.css';

.wrapper {
  @include typo-body;
  color: var(--text-medium-color);
  text-align: center;
  background: var(--W);
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  padding: 18px 12px;
  margin: 2px;
  cursor: pointer;

  @include for-desktop {
    padding: 16px;
  }

  &:not(.disabled):hover {
    background-color: var(--Y400);
  }

  &:active,
  &.active {
    background-color: var(--Y500);
    color: var(--W);
    cursor: default;
  }

  &.true {
    background-color: var(--O500);
    color: var(--W);
  }

  &.false {
    background-color: var(--Y200);
    color: var(--G500);
  }

  &.disabled {
    cursor: default;
  }
}
