@font-face {
  font-family: quicksand;
  font-weight: 300;
  src: url(../../../public/font/Quicksand-Light.ttf);
}

@font-face {
  font-family: quicksand;
  font-weight: 400;
  src: url(../../../public/font/Quicksand-Regular.ttf);
}

@font-face {
  font-family: quicksand;
  font-weight: 500;
  src: url(../../../public/font/Quicksand-Medium.ttf);
}

@font-face {
  font-family: quicksand;
  font-weight: 600;
  src: url(../../../public/font/Quicksand-SemiBold.ttf);
}

@font-face {
  font-family: quicksand;
  font-weight: 700;
  src: url(../../../public/font/Quicksand-Bold.ttf);
}
