@import "../../assets/style/shared.scss";
@import "../../assets/theme/shared.css";

.btn {
  @include typo-button;
  // min-width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: none;
  border: var(--border-color-250);
  background-color: var(--W);
  display: flex;
  column-gap: 4px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text-medium-color);
  text-transform: uppercase;

  &:hover {
    border: var(--border-color-500);
  }

  &:active {
    border: var(--border-color-1000);
    color: var(--text-bold-color);
    background-color: var(--G100);
  }
  &:disabled {
  }
}

.primary {
  background-color: var(--primary-color);
  border-color: var(--O500);
  color: var(--W);

  &:hover {
    background-color: var(--Y400);
    border-color: var(--O500);
  }

  &:active {
    background-color: var(--O500);
    color: var(--W);
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.danger {
  color: var(--R);
  border-color: var(--R300);

  &:hover {
    border-color: inherit;
    opacity: 0.8;
  }
}

.right-icon {
  width: 16px;
  height: 16px;

  @include for-desktop {
    width: 24px;
    height: 24px;
  }
}
