@import "../../assets/style/shared.scss";

.wrapper {
  .logo {
    @include typo-heading-1;
    text-align: center;
    margin-top: 64px;

    @include for-desktop {
      display: none;
    }
  }

  .page-name {
    @include typo-heading-1;
    text-align: center;
    margin-top: 55px;
  }

  .input {
    margin-top: 24px;
  }

  .forgot-pass-text {
    @include typo-caption;
    text-align: right;
    margin-top: 14px;
  }

  .button-wrapper {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: end;
  }

  .login-facebook {
    width: fit-content;
    z-index: 2;
    cursor: pointer;
  }

  .form-reset {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}
