@import '../../assets/style/shared.scss';
@import '../../assets/theme/shared.css';

.title {
  @include typo-heading-1;
}

.blog-info {
  display: flex;
  justify-content: space-between;

  .author {
    @include typo-body-small;
    font-weight: bold;
    color: var(--O500);
  }

  .other-infos {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-top: 6px;

    .create-date {
      @include typo-caption;
    }

    .like-wrapper {
      display: flex;
      align-items: center;
      column-gap: 6px;

      .like-icon {
        stroke: var(--G800);
      }

      .like-number {
        @include typo-body-small;
        font-weight: bold;
        color: var(--Y500);
      }
    }
  }
}

.summary {
  @include typo-caption;
  margin-top: 24px;
  font-style: italic;
}

.content {
  margin-top: 24px;
  text-align: justify;
}

.keyword-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  @include typo-body-small;

  .keyword {
    color: var(--O500);
    @include typo-caption;
  }
}
