@import "../../assets/style/shared.scss";
@import "../../assets/theme/shared.css";

.wrapper {
  min-height: calc(100vh - 72px);
  width: 100%;
  padding-top: 24px;
  margin: 0;

  @include for-tablet {
    padding-left: calc((100% - 752px) / 2);
    padding-right: calc((100% - 752px) / 2);
  }

  @include for-desktop {
    padding-left: calc((100% - 976px) / 2);
    padding-right: calc((100% - 976px) / 2);
  }
}

.page-title {
  @include typo-heading-1;

  margin-bottom: 20px;
}

.search-wrapper {
  display: flex;
  align-items: end;
  gap: 12px;

  .input {
    flex-grow: 1;
  }

  .button {
    height: 54px;
    margin-bottom: 12px;
  }
}

.search-list {
  display: flex;
  gap: 8px;

  .item {
    padding: 12px 18px;
    background-color: var(--bg-save-light);
    border-radius: 4px;
    color: var(--text-G050-color);

    &.is-active {
      background-color: var(--BL500);
      color: #fff;
      font-weight: 700;
    }
  }
}

.saved-list {
  display: flex;
  margin-top: 24px;
  gap: 12px 16px;

  .item {
    width: 50%;
    background-color: var(--bg-b-color);
    border-radius: 16px;
    padding: 16px;

    .display {
      @include typo-heading-3;
    }

    .icon-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: end;
      margin-top: 14px;
    }

    .image {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1.5px rgba(84, 147, 255, 0.15) solid;
    }

    .icon {
      width: 32px;
      height: 32px;

      &.is-saved {
        fill: var(--O500);
        color: var(--O200);
      }
    }
  }
}
