:root {
  --Y500: #ff914d;
  --Y450: #fbb825;
  /* --Y400: #fbc531; */
  --Y400: #fbcf67;
  --Y200: #fbe8c9;
  --Y50: rgb(251 232 201 / 20%);
  --O500: #ed8728;
  --O200: #f6ca97;
  --W: #fff;
  --B: #000;
  --G050: #fafafa;
  --G100: #f5f5f5;
  --G400: #adb5bd;
  --G450: #aaaaaa;
  --G500: #797979;
  --G800: #424242;
  --G900: #212121;
  --border-color-250: 2px solid rgba(0, 0, 0, 0.25);
  --border-color-500: 2px solid rgba(0, 0, 0, 0.5);
  --border-color-1000: 2px solid rgba(0, 0, 0, 1);
  --R: #da291c;
  --R150: rgba(218, 41, 28, 0.15);
  --R300: rgba(218, 41, 28, 0.3);
  --BL050: rgba(84, 147, 255, 0.15);
  --BL200: #b4cfff;
  --BL400: #4c76be;
  --BL500: rgba(84, 147, 255, 1);
  --BL800: #113077;
  --BL1000: #0f172a;
  /* --BL050: rgba(76, 118, 190, 0.2); */
  --GR400: #61ce0c;
  --GR200: rgba(97, 206, 12, 0.2);

  --primary-color: var(--Y500);
  --secondary-color: var(--O500);
  --text-bold-color: var(--G900);
  --text-medium-color: var(--G800);
  --text-light-color: var(--G500);

  /* DARK THEME */
  --BG-Dark: #292841;
  --BG-m-Dark: #1c1b29;

  /* GRADIENT */
  --bg-gradient-color: linear-gradient(
    135deg,
    rgba(251, 197, 49, 1) 0%,
    rgba(255, 145, 77, 1) 50%
  );
}
