@import "../../../assets/style/shared.scss";
@import "../../../assets/theme/shared.css";

.stage {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  background-color: var(--Y200);
  padding: 24px 0;

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    background-color: var(--BL200);
    width: 100%;
    height: 56%;
    z-index: -9;
  }
}

h1 {
  position: absolute;
  top: 27%;
  left: 2%;
  @include typo-heading-2;

  writing-mode: vertical-rl;
  text-orientation: upright;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 22px;

  & > div {
    display: flex;
    align-items: center;
    gap: 34px;
  }
}

.logout-button {
  border: none;
  background-color: var(--R300);
  color: var(--W);
}

.driver {
  position: absolute;
  top: calc(80% - 215px);
  left: 80px;
}

.bg-home-lines {
  display: flex;
  gap: 16px;
  height: 190px;
  position: absolute;
  top: calc(56% - 126px);
  left: 100px;
  z-index: -1;

  .bg-home-item {
    width: 81px;
    height: 126px;
    background-color: var(--BL050);
    border-radius: 8px;
  }

  .bg-home-item:nth-child(2n) {
    width: 179px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -53px;
    width: 100%;
    height: 100%;
    background: url("../../../../public/images/game/homes.png") repeat-x;
    opacity: 0.3;
    z-index: -1;
  }
}

.obstacles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;

  & > div {
    width: 38px;
    height: 38px;
    background-color: var(--R);
    border-radius: 4px;
    position: absolute;

    &::after {
      content: "";
      position: absolute;
      left: 10px;
      top: 10px;
      width: 38px;
      height: 38px;
      border-radius: 4px;
      background: var(--R300);
    }
  }
}
