@import '../../assets/style/shared.scss';
@import '../../assets/theme/shared.css';

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--W);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation_bar {
  display: flex;
  gap: 24px;
  align-items: center;
}

.navbar {
  display: none;

  @include for-desktop {
    display: flex;
    flex-grow: 1;
    justify-content: right;
    align-items: center;
    column-gap: 32px;
  }
}

.logo-text {
  display: none;

  @include for-desktop {
    display: block;
    @include typo-heading-1;
    color: var(--text-bold-color);
  }
}

.profile {
  width: fit-content;
  height: fit-content;
  display: flex;

  .user-name-wrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
    position: relative;

    & > .user-name {
      @include typo-body;
      cursor: pointer;
    }

    & > .dropdown-icon {
      width: 18px;
      height: 18px;
      stroke-width: 2;

      &.checked {
        rotate: 180deg;
      }
    }

    & > .auth-wrapper {
      background-color: #fff;
      width: 160px;
      position: absolute;
      top: 36px;
      left: 0;
      border-radius: 8px;
      border: 1px solid #000;
      overflow: hidden;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.25);
      @include typo-body;

      & > .auth-item {
        color: var(--text-bold-color);
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 12px 20px;
        cursor: pointer;
        border-bottom: 1px solid var(--G400);
      }

      & > .auth-item:last-child {
        border-bottom: none;
      }

      & > .auth-item:hover {
        color: #fff;
        background-color: var(--Y500);
        border-bottom: 1px solid var(--G900);
        transition: 0.3s 0.1s linear;
      }
    }
  }
}

.navbar-icon {
  width: 32px;
  height: 32px;

  @include hover-icon-primary;

  @include for-desktop {
    display: none;
  }
}

.slider-container {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--W);
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
  width: 50%;
  height: 100vh;
  padding: 0 22px;
  z-index: 2;

  @include for-desktop {
    display: none;
  }
}

.back-slide {
  text-align: right;
  margin: 20px 0 32px 0;
}

.back-slide-icon {
  @include hover-icon-primary;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;

  @include for-desktop {
    display: none;
  }
}
