@import "../../assets/style/shared.scss";
@import "../../assets/theme/shared.css";

.wrapper {
  @include typo-caption;
  color: var(--text-medium-color);
  text-align: center;
  background-color: var(--bg-m-color);
  border: 1px solid var(--Y500);
  border-radius: 8px;
  padding: 5px;
  margin: 2px;

  * {
    cursor: default;
  }

  @include for-desktop {
    @include typo-body-small;
    padding: 8px;
  }

  &.current {
    background-color: var(--Y200);
    * {
      cursor: pointer;
    }

    & > .icon {
      color: var(--secondary-color);
    }

    transition: all 0.3s ease-in;
  }

  &.current:not(.checked):hover {
    & > .icon {
      color: var(--Y400);
    }
  }

  &.checked,
  &.current:active {
    color: var(--text-bold-color);
    background-color: var(--O200);
    cursor: default;

    & > .icon {
      color: var(--secondary-color);
      cursor: default;
    }

    & > .label {
      font-weight: 700;
    }

    transition: all 0.3s ease-in;
  }

  &.before {
    opacity: 0.5;
  }
}

.icon {
  width: 32px;
  height: 32px;

  @include for-desktop {
    width: 48px;
    height: 48px;
  }
}
