@import "../../assets/style/shared.scss";
@import "../../assets/theme/shared.css";

.wrapper {
  text-align: center;
  margin: auto;
}

.question {
  @include typo-body;
  margin-top: 30px;
  margin-bottom: 38px;
  text-align: center;
  width: 100%;
}

.options {
  margin-top: 50px;

  .item {
    margin-bottom: 16px;
  }
}

.result-icon {
  stroke-width: 2;
  stroke: #779af9;
  width: 48px;
  height: 48px;

  &.false {
    stroke: var(--O500);
  }
}

.cta {
  display: flex;
  column-gap: 8px;
  margin: 20px 5% 0 0;
  justify-content: right;
}
