@import "../../assets/style/shared.scss";
@import "../../assets/theme/shared.css";

.title {
  @include typo-heading-1;
}

.right-icon {
  color: #779af9;
  stroke-width: 3;
}

.wrong-icon {
  color: var(--O500);
  stroke-width: 3;
}
