@import './assets/theme/shared.css';

.app {
  /* height: 100vh; */
  color: var(--text-bold-color);
  position: relative;
}

.container {
  padding: 0 16px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }
}

.container {
  padding: 0 16px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }
}

* {
  font-family: quicksand;
  box-sizing: border-box;
}
