@import "./assets/theme/shared.css";

:root {
  --bg-color: var(--W);
  --bg-m-color: var(--W);
  --bg-b-color: var(--W);
  --bg-card-light: var(--Y200);
  --bg-save-light: var(--BL050);
  --text-color: var(--text-bold-color);
  --text-m-color: var(--text-medium-color);
  --text-l-color: var(--text-light-color);
  --text-G050-color: var(--G050);
  --text-b-color: var(--text-bold-color);
  --bg-G050-color: var(--G050);
  --icon-m-color: var(--text-bold-color);
}

.app {
  min-height: 100vh;
  color: var(--text-color);
  position: relative;
  background-color: var(--bg-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.app::after {
  content: "";
  background-image: url("/public/images/test2.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  margin: auto;
  opacity: 0.15;
}

.container {
  padding: 16px 16px 32px;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1 !important;
  width: 100%;
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 20px 0 42px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 24px 120px 60px;
  }
}

* {
  font-family: quicksand;
  box-sizing: border-box;
}

/* RADIO */

label:has(input[type="radio"]) {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

label:has(input[type="radio"]):before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin-right: 10px;
  transition: all 0.1s ease-in 0.05s;
}

label:has(input[type="radio"])::after {
  content: "";
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  left: 3.5px;
  top: 5.5px;
  transition: all 0.15s ease-in 0.1s;
}

label:has(input[type="radio"]:checked)::before {
  border-color: var(--Y500);
}

label:has(input[type="radio"]:checked)::after {
  background-color: var(--O500);
}
