@import './assets/theme/shared.css';

.app {
  height: 100vh;
}

.container {
  padding: 0 16px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }
}

* {
  font-family: quicksand;
  box-sizing: border-box;
}
