@import "../../assets/style/shared.scss";
@import "../../assets/theme/shared.css";

.section-title {
  @include typo-heading-3;
}

.desc {
  margin-top: 32px;
}

.image {
  margin-top: 26px;
  width: 100%;
  object-fit: cover;

  & img {
    width: 100%;
    height: 100%;
  }
}
