@import '../../assets/style/shared.scss';
@import '../../assets/theme/shared.css';

.title {
  @include typo-heading-1;
  margin-top: 26px;
}

.page-number {
  @include typo-heading-2;
  text-align: center;
  margin-top: 70px;
  color: var(--text-medium-color);

  & span {
    color: var(--Y500);
  }
}

.next-button {
  float: right;
  margin-right: 5%;
}
.home {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  &-icon {
    stroke: var(--O500);
  }
}
