@import "../../assets/style/shared.scss";
@import "../../assets/theme/shared.css";

.section-title {
  @include typo-heading-3;
}

.section-title:nth-of-type(1) {
  margin-top: 26px;
}

.section-title:nth-of-type(3) {
  margin-top: 40px;
}

.desc {
  @include typo-body-small;
}

.list-card {
  display: flex;
  column-gap: 16px;
  margin-top: 20px;
  flex-wrap: wrap;

  .list-item {
    width: 100%;
    margin-bottom: 40px;

    @include for-desktop {
      width: 48%;
    }
  }

  .list-item-100 {
    width: 100%;
  }
}
